.calc {
	display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;

    width: 200px;
}

.btn {
    display: inline-flex;
	cursor: pointer;
	justify-content: center;
	text-align: center;
	padding: 15px 15px;
	border-width: 3px;
	border-radius: 3px;
	color: #FFF;
	background-color: #333;
	
	width: 20px;

	font-family: 'Gayathri', sans-serif;
}

.number {
	
}

.off {
	color: #EEE;
	background-color: #FF990A;
}

.on, .addition {
    
    color: #EEE;
	background-color: #56B6C2;
	
}

.addition {

	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 5;
	grid-row-end: 7;
	
}

.display {

	grid-column-start: 1;
	grid-column-end: 5;

	color: #000;
    
    border-top: 2px solid #869C60;
	border-left: 2px solid #869C60;

	border-right: 2px solid #555;
	border-bottom: 2px solid #555;
	background-color: #719C27;
	height: 25px;
	padding-right: 2px;
	text-align: right;
	font-family: 'ZCOOL QingKe HuangYou', cursive;
	font-size: 20px;
}