.view {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.calc-border {
    border-radius: 6px;
    background-color: #000;
    width: 150px;
    padding: 10px;
}

.calc {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;

    width: auto;
}

.btn {
    display: inline-flex;
    cursor: pointer;
    border-width: 3px;
    border-radius: 3px;
    color: #FFF;
    background-color: #333;
    height: 30px;
    width: 100%;
    font-family: 'Gayathri', sans-serif;
    font-size: 18px;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    background-color: #444;
}

.btn:active {
    background-color: #555;
}

.number {
    
}

.off {
    font-size: 14px;
    color: #EEE;
    background-color: #FF990A;
}

.off:hover {
    background-color: #EE8809;
}

.off:active {
    background-color: #FF991A;
}

.on {
    font-size: 14px;
    color: #EEE;
    background-color: #56B6C2;
}

.addition {

    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 7;

    height: 100%;
    color: #EEE;
    background-color: #56B6C2;
}

.on:hover, .addition:hover {
    background-color: #67C7D3;
}

.on:active, .addition:active {
    background-color: #77CCEE;
}


.display {

    grid-column-start: 1;
    grid-column-end: 5;

    color: #000;
    
    border-top: 2px solid #869C60;
    border-left: 2px solid #869C60;

    border-right: 2px solid #555;
    border-bottom: 2px solid #555;

    background-color: #719C27;
    height: 30px;
    padding-right: 2px;
    text-align: right;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 26px;
}

.display:active {
    background-color: #82AD38;
}